{% extends 'base.html'%}

{% block content%}
<div>
    <h1 style="color: black;">EDIT  RECIPE</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
           <div>
             <label for="{{field.id_for_label}}">
               {{ field.label }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}    
             </label> 
          {{field}}
          </div>
          {% endfor %}
          <button type="submit">Update</button>
    </form>
<!-- <a href="{% url 'recipes' %}">Back to List </a> -->
</div>
{% endblock %}